label[class*="col-"]{
      height:35px;
      line-height:35px;
}
.myBorder{
      width:600px;
      position:absolute;
      top:150px;
      left:350px;
      border:1px solid darkgray;
      background:#ffffff;
}
.login{
      width:600px;
}
.warningMsg{
      margin-bottom:0;
      padding:6px;
      display:none;
}
.myOk{
      height:35px;
      line-height:35px;
      font-size:18px;
      color:green;
      display:none;
}
.myImage{
      width:600px;
      margin-bottom:20px;
}